//- layout.pug

doctype html
html(lang="nl")
    head
        include ../partials/head.pug
    body
        header
            include ../partials/header.pug
        main
            block content
        footer
            include ../partials/footer.pug